@model Company.Ali.PL.DTOs.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthView.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="m-3 alert alert-info"></div>
        <form asp-action="SendResetPasswordURL" method="post">
            <input class="text email" asp-for="Email" placeholder="Email" required="">
            <input type="submit" value="Verify Your Email">
        </form>
    </div>
</div>

@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive"></script>
}

