@model Company.Ali.DAL.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Details</title>
</head>
<body>
    <div>

        <partial name="EmployeePartialViews/_DetailsDeletePartialView" />
        <a asp-controller="Employee" asp-action="Edit" asp-route-id = "@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</body>
</html>
