@model Company.Ali.PL.DTOs.CreateEmployeeDto
@{
    int? id = ViewData["Id"] as int?;
}

<h2>Edit Employee</h2>

<form asp-action="Edit" enctype="multipart/form-data" asp-route-id="@id">
    <partial name="EmployeePartialViews/_CreateUpdatePartialView" />
    <input asp-for="ImageName" hidden />
    <button type="submit" value="Edit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
